<% layout("/layouts/boilerplate") -%>
<div class="row mt-3">
    <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">
        <h3 class="mb-4">Create a New Listing</h3>
        <form method="POST" action="/listings" 
        novalidate 
        class="needs-validation"
        enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" 
                placeholder="Add a catchy title" type="text"
                class="form-control"
                required>
                <div class="valid-feedback">Title looks good!</div>
            </div>
        <div class="mb-3"><label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" 
            class="form-control"
            required></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <!-- <div class="mb-3"><label for="image" class="form-label">Image URL</label>
            <input name="listing[image]" 
            placeholder="enter image URL/link" 
            type="text"
            class="form-control">
        </div> -->
        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Images (Max 5)</label>
            <input name="listing[images]"
            type="file"
            class="form-control"
            multiple>
        </div>
        
        <div class="mb-4">
            <label class="form-label d-block">Amenities</label>
            <div class="row g-3">
                <% const amenitiesList = ["Wifi", "Pool", "AC", "Kitchen", "Parking", "Gym", "TV", "Workspace"]; %>
                <% for(let amenity of amenitiesList) { %>
                    <div class="col-6 col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="listing[amenities][]" value="<%= amenity %>" id="amenity-<%= amenity %>">
                            <label class="form-check-label" for="amenity-<%= amenity %>">
                                <%= amenity %>
                            </label>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price (Weekday):</label>
                <input name="listing[price]" placeholder="e.g. 1200" type="number" class="form-control" required>
                <div class="invalid-feedback">Price should be valid</div>
            </div>
            <div class="mb-3 col-md-4">
                <label for="weekendPrice" class="form-label">Price (Weekend):</label>
                <input name="listing[weekendPrice]" placeholder="e.g. 1500" type="number" class="form-control" required>
                <div class="invalid-feedback">Weekend price should be valid</div>
            </div>
            <div class="mb-3 col-md-4"><label for="country" class="form-label">Country</label>
                <input name="listing[country]" 
                placeholder="India" type="text"
                class="form-control"
                required>
                <div class="invalid-feedback">Country name should be valid</div>
            </div>
            <div class="mb-3 col-md-4">
                <label for="category" class="form-label">Category</label>
                <select name="listing[category]" class="form-select" required>
                    <option value="" disabled selected>Select category</option>
                    <option value="Trending">Trending</option>
                    <option value="Rooms">Rooms</option>
                    <option value="Iconic Cities">Iconic Cities</option>
                    <option value="Mountains">Mountains</option>
                    <option value="Castles">Castles</option>
                    <option value="Amazing pools">Amazing pools</option>
                    <option value="Camping">Camping</option>
                    <option value="Farms">Farms</option>
                    <option value="Arctic">Arctic</option>
                    <option value="Domes">Domes</option>
                    <option value="Cruise">Cruise</option>
                </select>
                <div class="invalid-feedback">Please select a category</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" 
            placeholder="Kolkata, WB" 
            type="text"
            class="form-control"
            required>
            <div class="invalid-feedback">Location should be valid</div>
        </div>
        
        <button class="btn btn-dark add-btn mt-4 mb-5">Add Listing</button>
    </form>
</div>
</div>